<br>
<div class="row justify-content-evenly">
    <div class="col-md-5 ">
        <div class="card">
            <div class="card-header">
              Parent Component section
            </div>
            <div class="card-body">
              <div class="card">
                <div class="card-body">
                  <form #userForm = "ngForm">
                      <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" 
                          name="Name" id="name"
                          [(ngModel)] = "userData.name"
                        >
                      </div>
                      <div class="form-group">
                        <label for="department">Department</label>
                        <input type="text" class="form-control" 
                          name="Department" id="department"
                          [(ngModel)] = "userData.department"
                        >
                      </div>
                      <br>
                      <hr>
                      <div class="form-group">
                        <label for="testString">String to transfer</label>
                        <input type="text" class="form-control" 
                          name="testString" id="testString"
                          [(ngModel)] = "test1"
                        >
                      </div>
                      <br>
                      <button type="submit" class="btn btn-primary" (click)="bindData(userForm)">Submit</button>
                  </form>
                  <hr>
                  <br>
                  <div class="form-group">
                    <label for="dataFromChild">Data From Child: </label>
                    <input type="text" readonly class="form-control-plaintext" 
                      name="dataFromChild" id="dataFromChild"
                      [ngModel] = "dataFromParent"
                    >
                  </div>
                </div>
              </div>              
            </div>
          </div>
    </div>
    <div class="col-md-5">
        <app-input-example-child [testStringfromParent] = "test1" 
                [userDetailsfromParent] = "userData"
                (sendToParent)="parentRecieveEmitter($event)"
        >
        </app-input-example-child>
    </div>
</div>
