<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="home">Angular Concepts</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="inputOutput">Input/Output Example</a>
        </li>
        <!--In order to make the drop down work, we have installed ng-bootstrap using the terminal. 
          And then we have included the "ngb" directives like "ngbDropdown", "ngbDropdownMenu", "ngbDropdownItem" etc. 
          as we see below-->
        <li ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Forms
          </a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a ngbDropdownItem class="dropdown-item" routerLink="formStates">Form States</a>
            <a ngbDropdownItem class="dropdown-item" routerLink="templateDriven">Template Driven</a>
            <a ngbDropdownItem class="dropdown-item" routerLink="reactive">Reactive Forms</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="nav-item mr-3 nav-link p-3">
      <button class="btn btn-outline-danger my-2 my-sm-0" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>